<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @test.patient_id %>
</p>

<p>
  <strong>Sayem:</strong>
  <%= @test.sayem %>
</p>

<p>
  <strong>Fater:</strong>
  <%= @test.fater %>
</p>

<p>
  <strong>Ashwa2y:</strong>
  <%= @test.ashwa2y %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
